@font-face
 {
    font-family: Digital;
    src: url(../fonts/digital-7.ttf)
  }

*
{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    word-wrap: break-word;
    font-family:'Merriweather';
}



a
{
    text-decoration: none;
    color:white;
}

.error
{
    color:red;
}

/*******LOADER**************/

 #loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            margin: auto;
            position: fixed;
            top: 50vh;
            left:50vw;
            z-index:98989;
            display:none;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }
    
        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
    
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
    
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
   @media screen and (max-width:500px)
   {
       #loader
       {
           top:60%;
           left:35%;
       }
   }     



/*****************HEADER***********************/

header
{
    position: relative;
    width:10vw;
    min-height: 30vh;
}

nav.top
{
   
   background-color:rgb(22, 17, 17);
    padding: 5px;
    width: 100vw;
    color:white;
}

#today
{  
    text-align: center;    
    font-family: Digital;
    font-size: 2em;
}

.share
{
}

.social
{
}


.input-container 
{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 60vw;
  margin: 5px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


.logo
{
    height: 25vh;
    content: "";
    background-color:rgb(112, 96, 96);
    background: url(../images/logo_full.png) no-repeat center center  ;
    background-size:100% 100%;
    width: 100vw;

}



@media (min-width:700px)
{
    .date
    {
        width:45vw;
        display: inline-block;
        margin: 0 0 0 3vw;
        vertical-align: 10px;
    }

    .share
    {
       width:50vw;
       display: inline-block;
    }

    .social li
    {
        list-style-type: none;
        display: inline-block;

    }

}


/*****************MAIN************************/

main
{
    width:100vw;
    background-color: rgb(236, 236, 236);
    min-height: 70vh;
    position: relative;
}


.toggle-categories
{
    font-size:1.5em;
    cursor: pointer;
    position: sticky;
    top:5vh;
    display: none;
    z-index: 100;
    width:35%;
    padding: 5px 2px;
    background: red;

}



.categories
{
    width:30vw;
    background: black;
    color:white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
}

#close-btn
{
     font-size: 1.5em; 
     height: 38px;
     width: 30px;
     outline: none;
     background: blue;
     border-radius: 50px;
     cursor: pointer;
     margin-left: 80%;
     display: none;
     text-align: center;

}

@media (max-width:760px)
{
        .categories
    {
        width:230px;
        left: -231px;  
        top:0;
        transition: left 0.5s;
        z-index:200;

    }
    
    .toggle-categories
    {
        font-size:1.5em;
        cursor: pointer;
        display: block;
    }

    #close-btn
   {
     display: block;

    }

}



@media (max-width:430px)
{
    .toggle-categories
    {
        font-size: 0.8em;
        padding: 5px;
        width:30vw;
    }

}

.categories li
{
    list-style-type:none; 
    width: 100%;
    font-size: 1.5em;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

.categories li:hover
{
    font-size:2em;
    color:rgb(69, 69, 161);
}





/*************main content*********************/

.content
{
   
    padding: 20px;
    width: 90%;
    margin: auto;
}

.carousel
{
    height: 50vh;
    width:80vw;
    margin: 30px auto auto auto;
    border: 1px solid red;
}


@media (min-width:760px)
{
        .content
    {
        margin-left: 30vw;
        padding: 20px;
        width: 65%;
    }

        
    .carousel
    {
        
        width:60vw;
        margin: 30px auto auto 30px;
        
    }

    .trending
    {
        
        margin-left: 29px !important;
    }


}

.top-stories
{
    font-size:3rem;
    padding: 5px;
   font-family: 'Abril Fatface', cursive;
}


.trending
{
    background: white;
    margin: 10px;
    padding: 10px;
}

.panel
{
    border: 1px solid blue;
    margin: 10px;
    min-height: 300px;
    position: relative;
    color: black;
    box-shadow: 0 0 20px 2px rgb(221, 59, 59);
   
}

.panel-img
{
    width: 100%;
    height:70%;
   
}


.panel-img img
{
    width: 100%;
    height:100%;
}
.panel-date
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    padding: 10px;
}
.panel-desc
{
      padding: 10px;
      margin-bottom:70px;
      font-size: 1.5em;

}

.read-more
{
    background-color: rgb(57, 57, 148);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    padding: 10px;
    text-align: center;

}

a.read-more 
{
    color: black;
    
}

@media (min-width:991px)
{
  
    .panel
    {
        width: 40%;       
        display: inline-block;
        position: relative;
               
    
    }



}


#home-btn
{
  position: sticky;
  padding: 10px 5px;
  z-index:50;
  color:rgb(255, 250, 250);
  font-size: 1.2em;
  margin-left:50vw; 
  top:5vh;
  border-radius: 10%;
  box-shadow: 0 0 5px rgb(219, 131, 131);
  background: rgb(62, 3, 156);
}

.pageContent
{
    display:none;
}

.pageContent .panel
{
    margin: 70px auto auto 40px;
}

.pageContent .title
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-decoration: underline;
}
/*************FOOTER************************/

footer
{
    z-index: 99;
    color: red;
    text-align: center;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

