@import "variables.scss";

.item-img {
    width: 100%;
    object-fit: cover;
}
.container {
    width: 90vw;
    margin: 2em auto;
}
.btn-sec {
    padding: .5em;
    width: max-content;
}

.top-stories {
    text-align: center;


    .wrapper {
        display: grid;
        grid-gap: 2em;
        padding: 2em 0em;

        .grid-item {
            text-align: justify;
            display: grid;
        }
    }
}



@media screen and (min-width:500px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:800px) {
    .wrapper {
        grid-template-columns: repeat(9, 1fr);

        .hero {
            grid-column: span 9;

            .img-hero {
                height: 400px;
            }
        }

        .sm {
            grid-column: span 3;
        }
    }
}