*{
    box-sizing: border-box;
}

/*

    colors: green, yellow and red

*/

body{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}
.main-container{
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.news__header{
    margin: 0px;
    display: inline-block;
    background-color: #2a5ec5;
    width: 100%;
    box-shadow: 0px 2px 4px #a8a4a4;
}
.news__header #logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 50%;
    font-size: 23px;
    padding-left: 15px;
}
.news__header #logo h4{
    display: inline-block;
}
.news__header .fa{
    font-size: 30px;
    padding: 8px;
}
.news__header .fa-bars{
    cursor: pointer;
}
.news__header .fa-bars:hover{
    color: rgb(13, 172, 13);
}
.news__header .fa-close{
    display: none;
    cursor: pointer;
    color: red;
}
.news__header #news__links{
    display: none;
    text-decoration: none;
}
.news__header #news__links li{
    display: inline-block;
    margin: 3px 0px;
    line-height: 31px;
    width: 100%;
    letter-spacing: 1.4pt;
}
.news__header #news__links li a{
    border-bottom: 1px solid white;
    margin: 17px 0px;
    display: inline-block;
    transition: all 130ms ease-out 20ms;
}
.news__header #news__links li a:hover{
    color: darkgray;
}
.news__header .search_bar{
    width: 55%;
    float: right;
    height: auto;
    display: inline-block;
}
.search_bar form{
    display: inline-block;
    height: auto;
}
.search_bar input[type=search]{
    display: inline-block;
    padding: 10px 0px 10px 19px;
    border: none;
    height: 32px;
    box-shadow: 1px 0px 5px #ccc;
    border-radius: 25px;
    outline: none;
}
#just_in{
    display: inline-block;
    width: 100%;
    height: 42px;
}
#just_in h5{
    background-color: red;
    margin: auto;
    height: 42px;
    padding: 12px;
    color: white;
    position: absolute;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    width: 22%;
    box-shadow: 0px 2px 4px #a8a4a4;
    display: inline-block;
}
#just_in #news_latest{
    background-color: rgba(0, 0, 0, 0.69);
    position: relative;
    height: 42px;
    width: 100%;
}
.body_container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
#loader-icon-sports, #loader-icon-headlines, #loader-icon-tech{
    border: 5px solid #e7e7e7;
    border-radius: 50%;
    border-top: 5px solid royalblue;
    width: 37px;
    height: 37px;
    margin: 30px 20px;
    -webkit-animation: my-spin 0.53s linear infinite; 
    animation: my-spin 0.53s linear infinite;
}

@-webkit-keyframes my-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes my-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.sports__news__container{
    width: 100%;
    display: inline-block;
}
.sports__news__container h2{
    color: #424242;
    width: fit-content;
    display: inline-block;
    padding: 5px 0px;
}
.sports_news{
    width: 100%;
    display: inline-block;
}
.sports_news .sports__news__api img{
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 10px #615c5c;
    margin: 5px 0px;
    display: inline-block;
}
.sports_news .sports__news__api h3{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 128px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    min-height: 103px;
    background-color: rgba(20, 20, 20, 0.6);
}
.sports_news .sports__news__api h3::before{
    content: "";
    border: 2.3pt solid rgb(255, 0, 0);
    width: fit-content;
    position: relative;
    bottom: 10px;
    display: block;
}
.sports_news .sports__news__api ul{
    min-height: 130px;
    padding: 25px 15px;
    list-style: none;
    position: relative;
    color: black;
    bottom: 155px;
    width: 100%;
    font-size: 12px;
}
.other__news__container_1{
    width: 100%;
    display: inline-block;
    position: relative;
    height: auto;
}
.other__news__container_1 h2{
    color: #424242;
    border-bottom: 2.1pt solid red;
    width: fit-content;
    position: relative;
    left: 25px;
    display: inline-block;
    padding: 5px 0px;
}
.other__news__container__1::before{
    content: "";
    border: 0.6pt solid #0000006b;
    position: relative;
    height: auto;
    right: 11px;
}
.main_news .main__news__api{
    display: inline-block;
    padding: 0px 23px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
}
.main_news .main__news__api h3{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 129px;
    padding: 12px;
    width: 100%;
    min-height: 107px;
    background-color: rgba(20, 20, 20, 0.6);
}
.main_news .main__news__api h3::before{
    content: "";
    border: 2.3pt solid red;
    width: 40px;
    position: relative;
    bottom: 10px;
    display: block;
}
.main_news .main__news__api hr{
    border: 0.3pt solid #ccc;
    background: #ccc;
    position: relative;
    top: 75px;
}
.main_news .main__news__api img{
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 14px #716f6f;
}
.main_news .main__news__api img:hover{
    box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.7);;
}

.main_news .main__news__api ul{
    min-height: 130px;
    padding: 25px 15px;
    list-style: none;
    position: relative;
    color: black;
    bottom: 155px;
    width: 100%;
    font-size: 17px;
}
.other__news__container_2{
    width: 100%;
    display: inline-block;
}
.other__news__container_2 h2{
    color: #424242;
    width: fit-content;
    display: inline-block;
    padding: 5px 0px;
}
#other__news__1, #other__news__2{
    display: inline-block;
    width: 100%;
    margin: 0;
}
.tech_news{
    width: 100%;
    margin-bottom: 33px;
}
.tech_news .tech__news__api{
    width: 100%;
    height: 190px;
    overflow: hidden;
}
.tech_news .tech__news__api .mask{
    display: inline-block;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    transition: all 300ms ease-in-out 120ms;
}
.tech_news .tech__news__api .mask:hover{
    background-color: rgba(20, 20, 20, 0.6);
}
.tech_news .tech__news__api .mask p{
    color: white;
    display: inline-block;
} 
.tech_news .tech__news__api img{
    width: 100%;
    position: relative;
    height: auto;
    z-index: 1;
    margin: 5px 0px;
    display: inline-block;
    background-color: rgba(20, 20, 20, 0.6);
}
.tech_news .tech__news__api .mask h3{
    position: relative;
    z-index: 1;
    list-style: none;
    display: inline-block;
    bottom: 159px;
    min-height: 80px;
    text-align: left;
    padding: 10px 11px;
    width: 100%;
    color: white;
    background-color: rgba(20, 20, 20, 0.6);
}
.tech_news .tech__news__api li:nth-child(n + 0){
    display: none;
}
.tech_news .tech__news__api li:nth-child(2){
    display: inline-block;
}
.tech_news .tech__news__api li:nth-child(2)::before{
    content: "";
    position: relative;
    bottom: 10px;
    border: 2.2pt solid rgb(255, 0, 0);
    width: fit-content;
    display: block;
}
.tech_news .tech__news__api img:hover{
    box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.7);
}
.my_footer{
    display: inline-block;
    background-color: rgb(38, 37, 37);
    width: 100%;
    text-align: center;
    color: white;
    padding: 25px 0px;
    margin-top: 97px;
}
.my_footer footer{
    display: inline-block;
    width: 91%;
    margin: 46px 0px;
}
@media only screen and (min-width: 600px){
    /*
    This is for later
    */
    .news__header #logo{
        width: 20%;
        font-size: 28px;
    }
    .news__header .fa-bars {
        display: none;
    } 
    .news__header #news__links{
        display: inline-block;
        width: 60%;
        text-align: center;
        padding: 0;
    } 
    .news__header #news__links li{
        width: auto;
        margin: 0px 13px;
        font-size: 17px;
    }
    .news__header .search_bar{
        position: static;
        width: 19%;
        padding: 43px 0px;
    }
    #loader-icon-sports{
        width: 37px;
        height: 37px;
    }
    .sports__news__container{
        width: 20%;
        /* padding: 12px 15px; */
    }
    .other__news__container_1{
        width: 55%;
        /* margin: 0px 10px; */
    }
    .other__news__container_2{
        width: 20%;
        margin-left: 15px;
        display: inline-block;
    }  
}