*{
    box-sizing: border-box;
}

/*

    colors: greeen, yellow and red

*/

body{
    margin: 0;
    font-family: "Gill Sans", sans-serif;;
}
.main-container{
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.news__header__container{
    width: 70%;
}
.top__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news__header{
    margin: 0;
    background-color: rgba(26, 26, 26, 0.8);
    width: 100%;
}
.news__header #news__links{
    display: inline-block;
    width: 70%;
    text-decoration: none;
}
.news__header #news__links li{
    display: inline-block;
    margin: 3px 5px;
}
.news__header .search_bar{
    width: 29%;
    text-align: right;
    height: 23px;
    display: inline-block;
}
.other__news__container{
    width: 15%;
}
#other__news__1, #other__news__2{
    display: inline-block;
    width: 100%;
}
.tech_news{
    width: 100%;
}