body, html{
    margin: 0px; 
    scroll-behavior: smooth;
}
header{
    background-image: url("images/stocks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    z-index: 150;
}
.flash{
    opacity: 0.7;
}
.trans{
    opacity: 4;
}
nav ul li a{
    color: white;
    font-weight: bold;
}
nav ul{
    display: block;
    position: relative;
    list-style-type: none;
    padding: 0%;
    margin-top: 0%;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
    width: 0;
    background-color: black;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    height: 100vh;
}
nav ul li{
    padding: 15px 30px;
    margin: 0px;
    width: 400px;
    visibility: hidden;
}
nav{
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 150;
}
#top{
    display: flex;
    -webkit-transition: margin-top 0.5s, background-color 0.5s;
    -moz-transition: margin-top 0.5s, background-color 0.5s;
    -ms-transition: margin-top 0.5s, background-color 0.5s;
    -o-transition: margin-top 0.5s, background-color 0.5s;
    transition: margin-top 0.5s, background-color 0.5s;
    z-index: 150;
}
.topAnim{
    background-color: black;
    margin-top: -10px;
}
nav h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
}
#mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    position: sticky;
    z-index: 140;
}
.hamburger {
    width: 25px;
    margin-left: auto;
    position: absolute;
    right: 50px;
    margin-top: 30px;
}
  
.bar1, .bar2, .bar3 {
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    margin: 5px;
    border-radius: 8px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#line{
    width: 90%;
    height: 1px;
    background-color: rgb(216, 196, 196);
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.lineVanish{
    opacity: 0;
}
.quick{
    display: inline;
    position: absolute;
    text-align: center;
    z-index: 150;
    color: red;
}
.sub-nav{
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
}
.mini{
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}
.list{
    font-family: "Ubuntu", sans-serif;
    float: right;
    color: rgb(66, 62, 62);
    padding: 5px 5px;
    float: left;
}
.content{
    margin: 100px 20px 0px 20px;
}
.status{
    font-size: 18px;
    color: #000000;
    margin-bottom: 0;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}
.card{
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.news-image{
    width: 100%;
}
.caption{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
}
.story{
    font-family: "Ubuntu", sans-serif;
    color: rgb(49, 47, 47);
}
@media only screen and (min-width: 768px){
    #top{
        padding-left: 10%;
        padding-right: 10%;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-column-gap: auto;
    }
    .hamburger{
        visibility: hidden;
    }
    #line{
        width: 80%;
    }
    nav ul li a{
        visibility: visible;
        color: rgba(255, 255, 255, 0.6);
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;
    }
    nav ul li a:active{
        color: rgba(255, 255, 255, 1);
    }
    nav ul li a:hover{
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        flex: 0 0 auto;
    }
    nav ul{
        margin-top: 20px;
        list-style-type: none;
        display: flex;
        height: auto;
    }
    nav ul li{
        display: inline-block;
        width: auto;
    }
    header{
        height: 95vh;
    }
}