body, html {
  margin: 0px 5px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  overflow-y: hidden;
}

header {
  background-image: url("images/stocks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  z-index: 150;
}

.flash {
  opacity: 0.7;
}

.trans {
  opacity: 4;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul {
  display: block;
  position: relative;
  list-style-type: none;
  padding: 0%;
  margin-top: 0%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  width: 0;
  background-color: black;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  height: 100vh;
}

nav ul li {
  padding: 15px 30px;
  margin: 0px;
  width: 400px;
  visibility: hidden;
}

nav {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 150;
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: margin-top 0.5s, background-color 0.5s;
  transition: margin-top 0.5s, background-color 0.5s;
  z-index: 150;
  width: 94.5%;
}

.topAnim {
  background-color: black;
  margin-top: -10px;
}

nav h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  margin-top: 30px;
}

#mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 140;
}

.hamburger {
  width: 25px;
  margin-left: auto;
  position: absolute;
  right: 50px;
  margin-top: 30px;
}

.bar1, .bar2, .bar3 {
  height: 3px;
  width: 100%;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#line {
  width: 90%;
  height: 1px;
  background-color: #d8c4c4;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.lineVanish {
  opacity: 0;
}

.quick {
  display: inline;
  position: absolute;
  text-align: center;
  z-index: 150;
  color: red;
}

.sub-nav {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
}

.mini {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.list {
  font-family: "Ubuntu", sans-serif;
  color: #423e3e;
  padding: 5px 5px;
  float: left;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.list:hover{
  border-bottom: 2px solid rgb(10, 10, 160);
  cursor: pointer;
}

.list:active{
  border-bottom: 2px solid rgb(10, 10, 160);
}

.content {
  margin: 100px 20px 0px 20px;
}

.status {
  font-size: 18px;
  color: #000000;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.card {
  padding-top: 20px;
  transition: transform 1s;
}

.req :nth-child(even) {
  left: 100%;
}

.news-image {
  width: 100%;
  max-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.caption {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.story {
  font-family: "Ubuntu", sans-serif;
  color: #312f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

input[type = search]{
  z-index: 160;
  height: 25px;
  border-radius: 50px;
  border: 2px solid #969191;
  width: 25px;
  background-color: transparent;
  color: #969191;
  transition: 0.5s;
  margin-top: -7px;
  padding-left: 10px;
}
input[type = search]:hover{
  cursor: pointer;
}
input[type = search]:focus{
  height: 35px;
  width: 120px;
  outline: none;
  cursor: text;
}
input[type = search]::before{
  content: " jijgihgih";
  width: 2px;
  height: 10px;
  background-color: #969191;
  visibility: visible;
  display: block;
  color: #d8c4c4;
}

.req {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
}

.req::-webkit-scrollbar {
  width: 0%;
}

.date {
  font-family: "Ubuntu", sans-serif;
  color: #969191;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.2);
          box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.2);
}

.tileNews-image {
  height: 100px;
  width: 100px;
  float: left;
  padding-top: 10px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.2);
  box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.2);
}

.tileCaption {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.tileDate {
  margin-left: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #969191;
  margin-top: 0px;
  font-size: 12px;
}

.swipe{
  transform: translateX(-500px);
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .last-section{
    visibility: hidden;
  }
  body, html{
    margin: 0px 0px;
  }
}

@media only screen and (min-width: 1024px){
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
  }
  #line{
    margin-right: auto;
    margin-left: auto;
  }
  body, html{
    margin: 0px 0px;
  }
  
}

@media only screen and (min-width: 768px) {
  #top {
    padding-left: 10%;
    padding-right: 10%;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: auto;
  }
  input[type = search]{
      visibility: visible;
  }
  input[type = search]::after{
    visibility: visible;
  }
  body, html{
    margin: 0px 0px;
  }
  .mini {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    display: inline;
  }
  .card {
    padding-top: 5px;
    width: 100%;
  }
  .req {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    max-height: 500px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
  .req::-webkit-scrollbar {
    width: 0%;
  }
  .hamburger {
    visibility: hidden;
  }
  .sub-nav {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }
  
  #line {
    width: 80%;
  }
  nav ul li a {
    visibility: visible;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  nav ul li a:active {
    color: white;
  }
  nav ul li a:hover {
    color: white;
    cursor: pointer;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  nav ul {
    margin-top: 20px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  nav ul li {
    display: inline-block;
    width: auto;
  }
  header {
    height: 95vh;
  }
  .mainSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        margin-top: 20px;
  }
}