body{
    margin: 0;
}
button,a{
    cursor: pointer;
}
:focus{
    outline: none;
}
.text-muted{
    color: rgba(0, 0, 0, 0.6);
}
#copyright{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
/* navbar css start */
nav{
    box-shadow: 0 0 10px grey;
    display: flex;
    color: white;
    height: 60px;
    align-items: center;  
}
nav ul{
    margin: 0;
}
nav li{
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
    font-family: 'Montserrat',sans-serif;
}
nav li a{
    color: black;
    text-decoration: none;    
}
nav li.nav-brand{
    font-size: 25px;
}
nav li.nav-link{
    font-size: 20px;
}
form#nav-search{
    display: flex;
    margin: 0 20px 0 auto;
    height: 27px;
    border: 1px solid black;
}
form#nav-search input{
    font-size: 16px;   
    width: 170px;   
    padding: 0 3px;
}
form#nav-search button{
    background-color: transparent;
}
form#nav-search *{
    border: none;
}
form#nav-search button img{
    height: 16px;
}
/* navbar css end */
/* Responsive nav */
#navsmallbtn{
    background: transparent;
    height: 30px;
    margin: 0 10px 0 auto;
    border: 1px solid #0000003b;
    box-shadow: 0 0 3px grey;
    border-radius: 4px;
  display: none;
}
#navsmallbtn img{
    width: 20px;
}
#navsmall{
    display: none;
}

#stories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0 30px;
}
.error{
    background-color: #fbaaaa;
    color: #fb4a4a;
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    justify-content: center;
}
div.error{
    display: none;
    border-radius: 10px;
    margin: 10px auto;
    width: 75%;
}
/* card styling start */
.card-wrap{
    min-height: 320px;
    max-height: 320px;
    height: 320px;
}
.card{
    height: 350px;
    position: relative;
    box-shadow: 0 0 10px grey;
    border-radius: 25px;
    transition: all 0.2s;
}
.card:hover{
    box-shadow: 0 0 2rem #000000;
}
.card .img-div{
    height: 45%;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}
.card a{
    text-decoration: none;
    color: black;
}
.top-story-summary p{
    padding: 0 10px;
} 
.card button.read-more{
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 15px;
    border: 1px solid grey;
    background: transparent;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    transition: all 0.2s;
}
.card button.read-more:hover{
    transform: scale(1.1);
    background-color: #808080cc;
}
.card button.read-more:hover a{
    color: white;
}
.card button.bookmark{
    position: absolute;
    top: -5px;
    right: 10px;
    width: 30px;
    height: 60px;
    background-image: url(../images/svg/bookmark.svg);
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}
.card button.bookmark.active{
    background-image: url(../images/svg/bookmark-active.svg)
}
.card button.bookmark span{
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 85%;
    margin-left: -60px;
}
.card button.bookmark span::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.card button.bookmark:hover span{
    visibility: visible;
}

@media(max-width : 950px){
	#stories h2{
		grid-column : 1/4;
	}
	#stories{
		grid-template-columns : repeat(3,1fr)
	}
}
@media(max-width : 700px){
	#stories{
		grid-template-columns : 1fr 1fr;
	}
	#stories h2{
		grid-column : 1/3;
	}
	.card{
		width : 100%;
		margin : auto;
    }
    .card  .text-muted{
        margin: 0;
    }
    #navsmall{
        width: 100%;
        margin-top: 10px;
        display: none;        
    }
    #navsmall ul{
        padding: 0;
    }           
    #navsmall ul li{
        display: block;
        padding: 10px 57px;
        border-top: 1px solid rgba(0,0,0,.15);
    }
    #navsmall ul li:nth-of-type(6){
        margin-bottom: 10px;
    }
    #navsmallbtn{
        float: right;
        display: inline;
    }
    nav ul#largenav{
        display: inline;
    }
    nav ul#largenav li.nav-link{
        display: none;
    }
    nav.active #navsmall{
        display: block;
    }           
    #navsmall ul li {
        display: block;        
    }
    #navsmall ul li a{
        color: rgba(0, 0, 0, 0.6);
    }
    form#nav-search{
        display: none;
    }
    #navsmall ul li a:hover{
        color: black;
    }
    nav{
        height: 40px;
        padding: 10px 0;
        transition: 0.5s;
        display: block;
    }
    nav.active{
        height: 300px;        
        overflow-y: hidden;
    }
    #nav-search-small{
        padding-left: 57px;
        display: flex;
    }
    #nav-search-small input{
        width: 400px;
        border-radius: 5px 0 0 5px;
        border: 1px solid grey;
        border-right: 0;
    }
    #nav-search-small button{
        height: 30px;
        width: 30px;
        border-left: 0;
        border: 1px solid grey;
        border-radius: 0 5px 5px 0;
    }
    ul#results li span.date {
        font-size: 1em;
    }
    ul#results p {
        width: 60%;
    }
    #carousel{
        display: none;
    }
}
@media(max-width : 600px){
    #stories{
		grid-template-columns : 1fr;
    }
    .card{
		width : 60%;
    }
    .card button.read-more{
        position: absolute;
        right: 0;
        left: auto;
    }

}
@media(max-width : 500px){
	.card{
		width : 80%;
	}
}