body{
    margin: 0;
}
nav{
    display: flex;
    background-color: black;
    color: white;   
}
nav ul{
    margin: 0;
}
nav li{
    border-right: 1px solid;
    height: 40px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
}
nav li.nav-brand{
    font-size: 24px;
}
nav li.nav-link{

}
nav li.nav-link a,nav li.nav-brand a{
    text-decoration: none;
    color: inherit;
}
#nav-input{
    
}

#nav-search{
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 10px;
    height: 30px;
    margin: auto 10px auto auto;
}
#nav-search input{
    border: none;
}
#nav-search button{
    background-color: white;
    border: none;
    border-left: 1px solid rgba(0,0,0,0.5);
}
#nav-search button img{
    height: 20px;
}
#stories-container{
    display: grid;
    width: 90%;
    grid-template-columns: 3fr 1.2fr;
    margin: auto;
    grid-column-gap: 20px;
}
#carousel{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
    height: 400px;
}
#carousel img{
    width: 100%;
    height: 100%;
}
#top-stories{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0px 20px;
    box-sizing: border-box; 
}
#top-stories ul{
    padding: 0;
}
#top-stories li{
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#top-stories li img{
    max-height: 60px;
    max-width: 80px;
    width: 80px;
    height: 60px;
}
#top-stories li a{
    text-decoration: none;
}
#top-stories li p{
    margin: 5px;
}
.text-muted{
    color: rgba(0,0,0,0.7);
}
.top-story-summary{
    display: inline-block;
    vertical-align: top;
}
#latest-stories{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px 10px;
    box-sizing: border-box;
}
#latest-stories div{
    font-size: 22px;
}
#stories-preview{
    width: 90%;
    margin: auto;
}
#news,#sports{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    box-sizing: border-box;
}
#news div{
    
}
#news div img,#sports div img{
    width: 280px;
}