body{
    margin: 0;
}
nav{
    display: flex;
    background-color: black;
    color: white;   
}
nav ul{
    margin: 0;
}
nav li{
    border-right: 1px solid;
    height: 40px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
}
nav li.nav-brand{
    font-size: 24px;
}
nav li.nav-link{

}
nav li.nav-link a,nav li.nav-brand a{
    text-decoration: none;
    color: inherit;
}
#nav-input{
    
}

#nav-search{
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 10px;
    height: 30px;
    margin: auto 10px auto auto;
}
#nav-search input{
    border: none;
}
#nav-search button{
    background-color: white;
    border: none;
    border-left: 1px solid rgba(0,0,0,0.5);
}
#nav-search button img{
    height: 20px;
}
#stories-container{
    display: grid;
    width: 80%;
    height: 100px;
    grid-template-columns: 3fr 1fr;
    margin: auto;
}
#carousel{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 400px;
}
#carousel img{
    width: 100%;
    height: 100%;
}