body{
    margin: 0;
}
button,a{
    cursor: pointer;
}
:focus{
    outline: none;
}
.text-muted{
    color: rgba(0, 0, 0, 0.6);
}
/* navbar css start */
nav{
    box-shadow: 0 0 10px grey;
    display: flex;
    color: white;
    height: 60px;
    align-items: center;  
}
nav ul{
    margin: 0;
}
nav li{
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
}
nav li a{
    color: black;
    text-decoration: none;    
}
nav li.nav-brand{
    font-size: 25px;
}
nav li.nav-link{
    font-size: 20px;
}
form#nav-search{
    display: flex;
    margin: 0 20px 0 auto;
    height: 27px;
    border: 1px solid black;
}
form#nav-search input{
    font-size: 16px;   
    width: 170px;   
    padding: 0 3px;
}
form#nav-search button{
    background-color: transparent;
}
form#nav-search *{
    border: none;
}
form#nav-search button img{
    height: 16px;
}
/* navbar css end */
#stories-container{
    display: grid;
    grid-template-columns: 3fr 1.2fr;
}
#stories-container h2{
    grid-column: 1/4;
    height: 20px;
    text-align: center;
}

#top-stories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    margin: 0 20px 0 10px;
    grid-row: 1;
    grid-row-gap: 20px;
    grid-auto-rows: max-content;
}
.card-wrap{
    min-height: 320px;
    max-height: 320px;
    height: 320px;
}
.card{
    height: 100%;
    position: relative;
}
.card img{
    width: 100%;
    height: 100%;
}
.card a{
    text-decoration: none;
    color: black;
}
.card button{
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid grey;
    background: transparent;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    transition: all 0.2s;
}
.card button:hover{
    transform: scale(1.1);
    background-color: #808080cc;
}
.card button:hover a{
    color: white;
}

/* latest stories  style start */
#latest-stories{
    grid-row: 1/2;
    height: initial;
}
#latest-stories ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid grey;
    height: 625px;
    overflow: hidden scroll;
}
#latest-stories ul li{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 18px;
    transition: all .5s;
}
#latest-stories ul li .text-muted{
    margin: 0 10px 0 5px;
}
#latest-stories ul li a{
    color: inherit;
    text-decoration: none;
}
#latest-stories ul li:hover{
    transform: scale(1.1);
}
#latest-stories li:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.25);
}
#latest-stories ul li a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

/* latest stories style end */
.top-story-summary p{
    margin: 10px 0;
    padding: 0 5px 0 0;
}

#politics,#sports{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    margin: 0 20px 0 10px;
    box-sizing: border-box;
}
#politics h4,#sports h4,#politics p, #sports p{
    margin: 18px 0;
    padding: 0 15px;
}
.img-div{
    height: 45%;
}
.header{
    grid-column: 1/5;
    height: 20px;
}
.loader{
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid grey;
    margin: auto;
    height: 50px;
    width: 50px;
    -webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}
.section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    margin: 0 20px 0 10px;
    box-sizing: border-box;
}
#latest-stories .loader {
    border-radius: 50%;
    border: 8px solid white;
    border-top: 8px solid grey;
    margin: auto;
    height: 100px;
    width: 100px;
    margin-top: 100px;
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

@keyframes rotating{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
    }
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotating{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
    }
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
